{% extends 'home/base.html' %}
{% load static %}
{% block content %}

    <div class="main-content" id="panel">
        <div class="header bg-primary pb-6">
            <div class="container-fluid">
                <div class="header-body">
                    <div class="search-card">
                        <strong>Dashboard Template</strong>
                        <div class="row pt-3">
                            <div class="col-3">
                                <div class="card card-stats">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col" style="color: black">
                                                <h6>Argon Dashboard - v1.2.0</h6>
                                                <p>* Product Page: https://www.creative-tim.com/product/argon-dashboard</p>
                                                <p>* Copyright 2020 Creative Tim (https://www.creative-tim.com)</p>
                                                <p>* Licensed under MIT
                                                    (https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md)</p>
                                                <p>* Coded by www.creative-tim.com</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}